<h1> Song </h1>
  <ul>
    <li> <%= @song.title %> </li>
    <li> <%= @song.release_year %> </li>
    <li> <%= @song.released %> </li>
    <li> <%= @song.genre %> </li>
    <li> <%= @song.artist_name %> </li>
    <br>
  </ul>
